*{
    background-color: #04042c;
 }

.container {
    display: flex;
  }
  
  .left-section {
    width: 50%;
    text-align: center;
  }
  
  .right-section {
    width: 10%;
    text-align: center;
  }
  
  #profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  #name {
    color: white;
    font-size: 20px;
    margin-top: 20px;
  }
  
  video {
    width: 500px;
    height: 300px;
    margin-top: 20px;
  }
  
  .color-picker {
    text-align: center;
    margin-top: 20px;
  }

  #color-input{
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
  }
  #color-input::-webkit-color-swatch{
    border-radius: 15px;
  }

  label{
    color: white;
    font-weight: bold;
  }